.wrapper{
    padding: 20px;
    border: 1px solid #212529;
    border-radius: 10px;
    margin: 100px auto 0;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.button {
    margin: 20px auto 0;
}

.title {
    margin: 0 auto;
    padding: 10px;
}
